@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

[role="menuitem"]:not(:disabled) {
  cursor: pointer;
}

[role="option"]:not(:disabled) {
  cursor: pointer;
}
